/* Фон сторінки */
body {
    background-color: #a8a8a8; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Стиль для кнопок */
button {
    background-color: #4fc7ff; /* Світло-зелений колір */
    border: none;
    border-radius: 50px;
    color: #000000; 
    font-size: 20px;
    padding: 11px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

/* Ефект при наведенні */
button:hover {
    background-color: #ff7ae2; /* Трохи темніший зелений */
    transform: scale(1.05); /* Легке збільшення */
}

/* Ефект при натисканні */
button:active {
    background-color: #ff61ff; /* Темно-зелений */
    transform: scale(0.95); /* Легке зменшення */
}

/* Центрування заголовка */
h1 {
    text-align: center;
    color: #000000; /* Темно-сірий текст */
    margin-top: 20px;
}
/* Стиль для зображень */
img {
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анімація для збільшення і тіней */
    border-radius: 10px; /* Закруглені краї */
}

/* Ефект при наведенні */
img:hover {
    transform: scale(1.1); /* Легке збільшення */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Тінь */
}
/* Накладка для модального вікна */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Напівпрозорий чорний фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Контейнер для модального вікна */
.image-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Тінь */
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Зображення у модальному вікні */
.modal-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; /* Закруглені краї */
}